# Local folders (make sure these exist!)
SCAN_FOLDER=./scans
OUTPUT_FOLDER=./output

# MySQL for Docker Compose
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=merbanhub_db
MYSQL_USER=merbanhub_user
MYSQL_PASSWORD=yourpassword
DATABASE_URL=mysql://merbanhub_user:yourpassword@db:3306/merbanhub_db
